/* .imgStyle {
    border-radius: 50%;
    position:relative;
    border: 1px solid black  ;
}
.imgDiv {
    padding:2%;

} */
.mainStyle {
    float:left;
    padding:1%;
    margin-top: -2%;
}
.links{
    /* border: 1px solid #000000; */
    border-radius: 5px;
    margin-top: 5vh;
    padding:10px;
}
.feed{
    border-radius: 5px;
    /* border:1px solid #000000; */
    margin-top: 5vh;
    padding:10px;
}
.editor{
    background-color: white;
    border-radius: 5px;
    min-height: 20%;
    padding:10px;
    margin:10px;
}
.chatList{
    border-radius: 5px;
    /* border:1px solid #000000; */
    margin-top: 5vh;
    padding:10px;
}
.profileViewer{
      /* border: 1px solid black; */
      position: relative;
      min-width: 50%;
      margin-top: 4%;
}
.profileUserName{
    background-color: white;
    border: 3px solid #000000;
    border-radius: 17px;  
    position:relative;
    box-shadow: 5px 10px 8px #888888;
    min-height: 50%;
    width: 89%;
    padding: 2%;
    margin-left: 10%;
}
.profileCourse{
    background-color: white;
    position:relative;
    border: 3px solid #000000;
    border-top-width: 1px;
    border-radius: 17px;
    box-shadow: 5px 10px 8px #888888;
    min-height: 50%;
    width: 66%;
    padding: 2%;
    margin-left: 10%;
}
.profileDetails{
        /* border: 1px solid black; */
        position: relative;
        display: inherit;
        min-width: 50%;
        min-height: 50%;
        /* margin-right: 3%; */
        /* margin-left: 20%; */
        z-index: -1;
}